<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="pay"
                android:scheme="upi" />
        </intent>

        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
    </queries>
    <queries>
        <package android:name="com.snapchat.android" />
    </queries>

    <application
        android:name="ott.chillx.utils.MyAppClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:usesCleartextTraffic,android:theme,android:allowBackup">
        <activity
            android:name="ott.chillx.ForgotPinActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.PinActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.AgrrepayActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.OneUPIPaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.EasyUPIPaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.AutoPaymentUpi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.reels.ReelsListActivity"
            android:exported="false">

            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <data -->
            <!-- android:host="primeplay.page.link" -->
            <!-- android:scheme="https"/> -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.GrievanceSupportActivity"
            android:exported="false" />
        <activity
            android:name="ott.chillx.FavActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.NoInternet"
            android:exported="false" />
        <activity
            android:name="ott.chillx.widget.OfflinePlayerNewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="ott.chillx.MobileNumberSignupActivity"
            android:exported="false" />
        <activity
            android:name="ott.chillx.FinalPaymentActivity"
            android:exported="false" />
        <activity
            android:name="ott.chillx.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="ott.chillx.OtpForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="ott.chillx.ItemPopularActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".OfflinePlayerActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name="ott.chillx.LoginViaMobileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.OtpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.CashFreePaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.ItemGoldSeriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.more.ApplyPromoCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.more.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.more.MyTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.MoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.RazorPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.GoldRazorPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ott.chillx.PapalPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubpaisaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />
        <!--
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        -->
        <!--
  <meta-data
              android:name="com.google.android.gms.version"
              android:value="@integer/google_play_services_version" />
        -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" /> <!-- facebook -->
        <meta-data android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true"/>
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" /> <!-- razorpay metadata -->
        <!--
       <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_eHkQKgddhVS9ub"/>
        -->
        <!-- snapchat -->
        <meta-data
            android:name="com.snap.kit.clientId"
            android:value="9bb58d92-9eb6-485c-859d-9aa6854e04fe" />

        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="false" />
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="false" />
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="M22OW170WC7KP" />

        <!--
         android:value="M1GQPJSNH1HW" />
                    android:value="PGTESTPAYUAT" />
        -->

        <meta-data
            android:name="com.phonepe.android.sdk.AppId"
            android:value="75ebc415eb7f4ff9b9573178de893edb" /><!--rplace by app id given by phonepe-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- facebook end -->
        <activity
            android:name="ott.chillx.TermsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ott.chillx.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.PassResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.LoginSocialNumberNotFoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.DetailsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_details"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" /> <!-- android:configChanges="screenLayout|screenSize|orientation" -->
        <activity
            android:name="ott.chillx.Details2Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_details"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="ott.chillx.GoldDetailsActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/title_activity_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" /> <!-- android:configChanges="screenLayout|screenSize|orientation" -->
        <activity
            android:name="ott.chillx.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="ott.chillx.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <!--    <intent-filter>
                    <data
                        android:host="open"
                        android:scheme="istream" />

                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                </intent-filter>

                &lt;!&ndash; Branch App Links &ndash;&gt;
                <intent-filter android:autoVerify="true">
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />

                    <data
                        android:host="primeplay.app.link"
                        android:scheme="https" />
                    &lt;!&ndash; <data &ndash;&gt;
                    &lt;!&ndash; android:host="primeplay.test-app.link" &ndash;&gt;
                    &lt;!&ndash; android:scheme="https" /> &ndash;&gt;
                    <data
                        android:host="primeplay-alternate.app.link"
                        android:scheme="https" />
                    &lt;!&ndash; <data &ndash;&gt;
                    &lt;!&ndash; android:host="primeplay-alternate.test-app.link" &ndash;&gt;
                    &lt;!&ndash; android:scheme="https" /> &ndash;&gt;
                </intent-filter>-->
        </activity> <!-- Branch init -->
        <!-- <meta-data
             android:name="io.branch.sdk.BranchKey"
             android:value="key_live_dugmRJVBQCu3M55tr663UcliwBnOBKte" /> &lt;!&ndash; <meta-data &ndash;&gt;
         &lt;!&ndash; android:name="io.branch.sdk.BranchKey.test" &ndash;&gt;
         &lt;!&ndash; android:value="key_test_htkeKSJuGtD0L26zt30XKhpdzBhTFNDy" /> &ndash;&gt;
         &lt;!&ndash; Branch testing (TestMode "true" to simulate fresh installs on dev environment) &ndash;&gt;
         <meta-data
             android:name="io.branch.sdk.TestMode"
             android:value="false" />-->

        <activity
            android:name="ott.chillx.ItemMovieActivity"
            android:label="@string/title_activity_item_show"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ott.chillx.ItemTVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.ItemSeriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.StripePaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.PurchasePlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="ott.chillx.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name=".PhonepayKotline"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="ott.chillx.SpeedlightActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.chillx.in"
                    android:scheme="https" />
            </intent-filter>

        </activity>
        <activity android:name="ott.chillx.onepay.PaymentActivity" />
        <activity android:name="ott.chillx.onepay.PaymentResultActivity" /> <!-- <activity android:name=".reelsvideo.Home" /> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ppapplogo" /> <!-- Test mode -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="W6K-K4K-786Z" /> <!-- //   android:value="TEST-Z6K-K4K-786Z" /> -->
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="343-360" /> <!-- android:value="TEST-343-361" /> -->
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="in1" /> <!-- clevertap pull notofication and enable toggle button of pull notofication on clevertap dashbord-setting-setup-push notification -->
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" /> <!-- clevertap Exclude in-app from Android Activity -->
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashScreenActivity" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name="ott.chillx.firebaseservice.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="ott.chillx.firebaseservice.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Google pay -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />


        <service
            android:name="ott.chillx.offlinedownload.DemoDownloadService"
            android:exported="false">

            <!-- This is needed for Scheduler -->
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>